{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "defaultTitle",
    "description" : "defaultDescription",
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "http://civilianext.soluzionipa.it"
  } ],
  "paths" : {
    "/portal/servizi/pagamenti/ws/10/stato_pagamenti" : {
      "post" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "applicazione",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "pagamenti"
        }, {
          "name" : "iuv",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "720147896053757"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "type" : "string",
                  "x-content-type" : "application/json;charset=utf-8"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://civilianext.soluzionipa.it"
        } ]
      },
      "servers" : [ {
        "url" : "http://civilianext.soluzionipa.it"
      } ]
    }
  },
  "components" : {
    "schemas" : { },
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "implicit" : {
            "authorizationUrl" : "http://yourauthurl.com",
            "scopes" : {
              "scope_name" : "Enter your scopes here"
            }
          }
        }
      }
    }
  }
}
